
*.accdb

samples/delphi/SQLite/Win32/Debug/

samples/firemonkey/Android/Debug/

samples/firemonkey/OSX32/Debug/

samples/firemonkey/Win64/Debug/

samples/fpc/SQLite/lib/i386-win32/

samples/firemonkey/Android/Release/DAOSQLite/library/lib/armeabi-v7a/

samples/firemonkey/Android/Release/DAOSQLite/res/drawable-hdpi/

samples/firemonkey/Android/Release/DAOSQLite/res/drawable-large/

samples/firemonkey/Android/Release/DAOSQLite/res/drawable-ldpi/

samples/firemonkey/Android/Release/DAOSQLite/res/drawable-normal/

samples/firemonkey/Android/Release/DAOSQLite/res/drawable-mdpi/

samples/firemonkey/Android/Release/DAOSQLite/res/drawable-small/

samples/firemonkey/Android/Release/DAOSQLite/res/drawable-xxhdpi/

samples/firemonkey/Android/Release/DAOSQLite/res/drawable/

*.xml

samples/firemonkey/Android/Release/DAOSQLite/res/drawable-xlarge/

samples/firemonkey/Android/Release/DAOSQLite/res/drawable-xhdpi/

samples/firemonkey/Android/Release/DAOSQLite/classes/

samples/firemonkey/Android/Release/
